# SoccerData
## Club Elo

[Source URL](http://clubelo.com/) | 
[Example usage](https://soccerdata.readthedocs.io/en/latest/datasources/ClubElo.html) |
[API reference](https://soccerdata.readthedocs.io/en/latest/reference/clubelo.html) |
[Py Code](https://github.com/probberechts/soccerdata/blob/master/soccerdata/clubelo.py)

In [4]:
import soccerdata as sd
import pandas as pd

# Show all cols and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
# Create scraper class instance
elo = sd.ClubElo()
print(elo.__doc__)

[05/11/24 20:08:46] INFO     Saving cached data to C:\Users\Operator\soccerdata\data\ClubElo          ]8;id=46145;file://c:\Users\Operator\.conda\envs\fantacalcio\Lib\site-packages\soccerdata\_common.py\_common.py]8;;\:]8;id=325376;file://c:\Users\Operator\.conda\envs\fantacalcio\Lib\site-packages\soccerdata\_common.py#92\92]8;;\

Provides pd.DataFrames from CSV API at http://api.clubelo.com.

    Data will be downloaded as necessary and cached locally in
    ``~/soccerdata/data/ClubElo``.

    Since the source does not provide league names, this class will not filter
    by league. League names will be inserted from the other sources where
    available. Leagues that are only covered by clubelo.com will have NaN
    values.

    Parameters
    ----------
    proxy : 'tor' or dict or list(dict) or callable, optional
        Use a proxy to hide your IP address. Valid options are:
            - "tor": Uses the Tor network. Tor should be running in
              the background on port 9050.
            - dict: A dictionary with the proxy to use. The dict should be
              a mapping of supported protocols to proxy addresses. For example::

                  {
                      'http': 'http://10.10.1.10:3128',
                      'https': 'http://10.10.1.10:1080',
                  }

            - list(dict): A list of proxies to choose from. A different proxy will
              be selected from this list after failed requests, allowing rotating
              proxies.
            - callable: A function that returns a valid proxy. This function will
              be called after failed requests, allowing rotating proxies.
    no_cache : bool
        If True, will not use cached data.
    no_store : bool
        If True, will not store downloaded data.
    data_dir : Path
        Path to directory where data will be cached.

### ELO scores for all teams at specified date

In [26]:
current_elo = elo.read_by_date(date='2024-05-05')    # date is optional, default last day
current_elo.head()

,rank,country,level,elo,from,to,league
team,,,,,,,
Man City,1.0,ENG,1,2043.491333,2024-05-05,2024-05-09,ENG-Premier League
Real Madrid,2.0,ESP,1,1987.738770,2024-05-05,2024-05-08,ESP-La Liga
Inter,3.0,ITA,1,1967.095459,2024-05-05,2024-05-08,ITA-Serie A
Arsenal,4.0,ENG,1,1944.106323,2024-05-05,2024-05-07,ENG-Premier League
Leverkusen,5.0,GER,1,1932.458862,2024-05-05,2024-05-05,GER-Bundesliga

In [27]:
current_elo.loc[current_elo['league'] == 'ITA-Serie A']

,rank,country,level,elo,from,to,league
team,,,,,,,
Inter,3.0,ITA,1,1967.095459,2024-05-05,2024-05-08,ITA-Serie A
Milan,12.0,ITA,1,1856.389648,2024-05-03,2024-05-05,ITA-Serie A
Atalanta,13.0,ITA,1,1844.327637,2024-05-03,2024-05-06,ITA-Serie A
Roma,15.0,ITA,1,1822.364746,2024-05-05,2024-05-05,ITA-Serie A
Juventus,16.0,ITA,1,1821.683472,2024-05-05,2024-05-05,ITA-Serie A
Napoli,23.0,ITA,1,1793.236694,2024-05-05,2024-05-06,ITA-Serie A
Bologna,24.0,ITA,1,1791.513550,2024-05-05,2024-05-06,ITA-Serie A
Lazio,29.0,ITA,1,1773.121094,2024-05-05,2024-05-05,ITA-Serie A
Fiorentina,33.0,ITA,1,1763.749878,2024-05-05,2024-05-05,ITA-Serie A
Torino,45.0,ITA,1,1717.195679,2024-05-05,2024-05-05,ITA-Serie A
Monza,63.0,ITA,1,1679.759277,2024-05-05,2024-05-05,ITA-Serie A
Genoa,66.0,ITA,1,1667.786377,2024-05-04,2024-05-05,ITA-Serie A
Udinese,84.0,ITA,1,1638.153442,2024-05-03,2024-05-05,ITA-Serie A
Empoli,92.0,ITA,1,1624.814819,2024-05-03,2024-05-05,ITA-Serie A
Lecce,94.0,ITA,1,1623.337402,2024-05-03,2024-05-05,ITA-Serie A
Verona,NaN,ITA,1,1615.967529,2024-05-03,2024-05-05,ITA-Serie A
Frosinone,NaN,ITA,1,1603.248169,2024-05-03,2024-05-05,ITA-Serie A
Cagliari,NaN,ITA,1,1602.463989,2024-05-03,2024-05-05,ITA-Serie A
Sassuolo,NaN,ITA,1,1601.822021,2024-05-05,2024-05-08,ITA-Serie A
Salernitana,NaN,ITA,1,1517.986328,2024-05-03,2024-05-06,ITA-Serie A

In [28]:
current_elo.to_json("./data/ClubElo/current_elo.json")

### Full ELO history for one club

In [29]:
milan_elo = elo.read_team_history("Milan")
milan_elo.head()

            rank   team country  level          elo         to
from
1946-07-07   NaN  Milan     ITA      1  1722.613037 1946-09-22
1946-09-23   NaN  Milan     ITA      1  1712.424683 1946-10-06
1946-10-07   NaN  Milan     ITA      1  1710.546265 1946-10-13
1946-10-14   NaN  Milan     ITA      1  1705.620483 1946-10-20
1946-10-21   NaN  Milan     ITA      1  1713.311157 1946-10-27

In [33]:
milan_elo.tail()

            rank   team country  level          elo         to
from
2024-05-09  12.0  Milan     ITA      1  1852.526855 2024-05-09
2024-05-10  13.0  Milan     ITA      1  1855.055054 2024-05-11
2024-05-12  13.0  Milan     ITA      1  1855.055054 2024-05-18
2024-05-19  13.0  Milan     ITA      1  1855.055054 2024-06-01
2024-06-02  13.0  Milan     ITA      1  1855.055054 2024-12-31

In [34]:
milan_elo.to_json("./data/ClubElo/milan_elo_history.json")