# API FOOTBALL

## Estrazione Squadre e Giocatori da una Competizione

In questo notebook, useremo l'API di API-SPORTS per ottenere tutte le squadre e i giocatori di una competizione. In particolare, ci focalizzeremo sulla Premier League inglese per la stagione 2021-2022.

Dall'esempio [how-to-get-all-teams-and-players-from-a-league-id](https://www.api-football.com/news/post/how-to-get-all-teams-and-players-from-a-league-id)

In [52]:
# Importare le Librerie
import requests
import time
import json
import pandas as pd

In [53]:
from dotenv import load_dotenv
import os

# Carica le variabili d'ambiente dal file .env
load_dotenv()
RAPIDAPI_KEY = os.environ['API_KEY']

In [65]:
# Funzioni per chiamare l'API
# def call_api(endpoint, params=None):
#     url = f'https://v3.football.api-sports.io/{endpoint}'
#     headers = {
#         'x-rapidapi-key': RAPIDAPI_KEY 
#     }
#     response = requests.get(url, headers=headers, params=params)
#     return response.json()


def call_api(endpoint, params=None):
    url = f'https://v3.football.api-sports.io/{endpoint}'
    headers = {
        'x-rapidapi-key': RAPIDAPI_KEY 
    }
    
    try:
        response = requests.get(url, headers=headers, params=params)
        response.raise_for_status()  # Raise an error for bad status codes
        
        # Stampa gli header di rate limiting
        rate_limit_headers = {
            'x-ratelimit-requests-limit': response.headers.get('x-ratelimit-requests-limit'),
            'x-ratelimit-requests-remaining': response.headers.get('x-ratelimit-requests-remaining'),
            'X-RateLimit-Limit': response.headers.get('X-RateLimit-Limit'),
            'X-RateLimit-Remaining': response.headers.get('X-RateLimit-Remaining')
        }
        for key, value in rate_limit_headers.items():
            print(f'{key}: {value}')
        
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f'An error occurred: {e}')
        return None

In [89]:
# funzione ricorsiva per ottenere i dati dei giocatori
def fetch_players_data(league, season, page=1, players_data=[]):
    params = {
        'league': league,
        'season': season,
        'page': page
    }
    players = call_api('players', params)
    players_data.extend(players['response'])

    if players['paging']['current'] < players['paging']['total']:
        page += 1
        time.sleep(6.5)  # Pausa di 10 secondo per evitare di superare il rate limit (10 req / min)
        return fetch_players_data(league, season, page, players_data)
    
    return players_data

### Estrazione delle squadre

In [41]:
# Ottenere Tutte le Squadre della Competizione
# Utilizziamo la funzione `call_api` per ottenere tutte le squadre della Serie A per la stagione 2023-2024
# parametri: league_id = 135, season = 2023

teams = call_api('teams', {'league': 135, 'season': 2023})

In [47]:
#Esempio team
print(json.dumps(teams["response"][1], indent=4))

{
    "team": {
        "id": 488,
        "name": "Sassuolo",
        "code": "SAS",
        "country": "Italy",
        "founded": 1922,
        "national": false,
        "logo": "https://media.api-sports.io/football/teams/488.png"
    },
    "venue": {
        "id": 935,
        "name": "MAPEI Stadium - Citt\u00e0 del Tricolore",
        "address": "Piazza Azzuri d&apos;Italia, 1",
        "city": "Reggio Emilia",
        "capacity": 23717,
        "surface": "grass",
        "image": "https://media.api-sports.io/football/venues/935.png"
    }
}

In [45]:
# Salvo i teams in file json
with open('./data/teams.json', 'w', encoding='utf-8') as f:
    json.dump(teams["response"], f, ensure_ascii=False, indent=1)

In [8]:
# Creo il DF per esplorare i dati
# Estrarre la parte di response
teams_response = teams['response']

# Creare una lista di dizionari con le informazioni della squadra
teams_list = []
for team in teams_response:
    team_info = {
        'team_id': team['team']['id'],
        'team_name': team['team']['name'],
        'team_code': team['team']['code'],
        'team_country': team['team']['country'],
        'team_founded': team['team']['founded'],
        'team_national': team['team']['national'],
        'team_logo': team['team']['logo'],
        'venue_id': team['venue']['id'],
        'venue_name': team['venue']['name'],
        'venue_address': team['venue']['address'],
        'venue_city': team['venue']['city'],
        'venue_capacity': team['venue']['capacity'],
        'venue_surface': team['venue']['surface'],
        'venue_image': team['venue']['image']
    }
    teams_list.append(team_info)

# Convertire la lista di dizionari in un DataFrame
teams_df = pd.DataFrame(teams_list)

# Visualizzare il DataFrame
teams_df

,team_id,team_name,team_code,team_country,team_founded,team_national,team_logo,venue_id,venue_name,venue_address,venue_city,venue_capacity,venue_surface,venue_image
0,487,Lazio,LAZ,Italy,1900,False,https://media.api-sports.io/football/teams/487...,910,Stadio Olimpico,"Viale dei Gladiatori, 2 / Via del Foro Italico",Roma,68530,grass,https://media.api-sports.io/football/venues/91...
1,488,Sassuolo,SAS,Italy,1922,False,https://media.api-sports.io/football/teams/488...,935,MAPEI Stadium - Citt√† del Tricolore,"Piazza Azzuri d&apos;Italia, 1",Reggio Emilia,23717,grass,https://media.api-sports.io/football/venues/93...
2,489,AC Milan,MIL,Italy,1899,False,https://media.api-sports.io/football/teams/489...,907,Stadio Giuseppe Meazza,Via Piccolomini 5,Milano,80018,grass,https://media.api-sports.io/football/venues/90...
3,490,Cagliari,CAG,Italy,1920,False,https://media.api-sports.io/football/teams/490...,12275,Unipol Domus,Via Raimondo Carta Raspi,Cagliari,16416,grass,https://media.api-sports.io/football/venues/12...
4,492,Napoli,NAP,Italy,1904,False,https://media.api-sports.io/football/teams/492...,11904,Stadio Diego Armando Maradona,Pizzale Vincenzo Tecchio,Napoli,60240,grass,https://media.api-sports.io/football/venues/11...
5,494,Udinese,UDI,Italy,1896,False,https://media.api-sports.io/football/teams/494...,20416,Bluenergy Stadium,"Piazza le Repubblica Argentina, 3",Udine,25952,grass,https://media.api-sports.io/football/venues/20...
6,495,Genoa,GEN,Italy,1893,False,https://media.api-sports.io/football/teams/495...,905,Stadio Comunale Luigi Ferraris,"Via Giovanni De Pr√†, 1",Genova,36703,grass,https://media.api-sports.io/football/venues/90...
7,496,Juventus,JUV,Italy,1897,False,https://media.api-sports.io/football/teams/496...,909,Allianz Stadium,Strada Comunale di Altessano 131,Torino,45666,grass,https://media.api-sports.io/football/venues/90...
8,497,AS Roma,ROM,Italy,1927,False,https://media.api-sports.io/football/teams/497...,910,Stadio Olimpico,"Viale dei Gladiatori, 2 / Via del Foro Italico",Roma,68530,grass,https://media.api-sports.io/football/venues/91...
9,499,Atalanta,ATA,Italy,1907,False,https://media.api-sports.io/football/teams/499...,879,Gewiss Stadium,Viale Giulio Cesare 18,Bergamo,21300,grass,https://media.api-sports.io/football/venues/87...
10,500,Bologna,BOL,Italy,1909,False,https://media.api-sports.io/football/teams/500...,881,Stadio Renato Dall'Ara,"Via Andrea Costa, 174",Bologna,39279,grass,https://media.api-sports.io/football/venues/88...
11,502,Fiorentina,FIO,Italy,1926,False,https://media.api-sports.io/football/teams/502...,902,Stadio Artemio Franchi,Viale Manfredo Fanti 14,Firenze,43147,grass,https://media.api-sports.io/football/venues/90...
12,503,Torino,TOR,Italy,1906,False,https://media.api-sports.io/football/teams/503...,943,Stadio Olimpico Grande Torino,"Corso Sebastopoli 123, Santa Rita",Torino,27958,grass,https://media.api-sports.io/football/venues/94...
13,504,Verona,VER,Italy,1903,False,https://media.api-sports.io/football/teams/504...,890,Stadio Marc'Antonio Bentegodi,Piazzale Olimpia,Verona,39211,grass,https://media.api-sports.io/football/venues/89...
14,505,Inter,INT,Italy,1908,False,https://media.api-sports.io/football/teams/505...,907,Stadio Giuseppe Meazza,Via Piccolomini 5,Milano,80018,grass,https://media.api-sports.io/football/venues/90...
15,511,Empoli,EMP,Italy,1920,False,https://media.api-sports.io/football/teams/511...,20109,Stadio Carlo Castellani ‚Äì Computer Gross Arena,Viale delle Olimpiadi,Empoli,16284,grass,https://media.api-sports.io/football/venues/20...
16,512,Frosinone,FRO,Italy,1928,False,https://media.api-sports.io/football/teams/512...,904,Stadio Benito Stirpe,Viale Olimpia,Frosinone,16310,grass,https://media.api-sports.io/football/venues/90...
17,514,Salernitana,SAL,Italy,2011,False,https://media.api-sports.io/football/teams/514...,933,Stadio Arechi,Via Salvador Allende,Salerno,37245,grass,https://media.api-sports.io/football/venues/93...
18,867,Lecce,LEC,Italy,1908,False,https://media.api-sports.io/football/teams/867...,911,Stadio Comunale Via del Mare,Viale dello Stadio,Lecce,33876,grass,https://media.api-sports.io/football/venues/91...
19,1579,Monza,MON,Italy,1912,False,https://media.api-sports.io/football/teams/157...,12086,U-Power Stadium,Via Franco Tognini,Monza,18568,grass,https://media.api-sports.io/football/venues/12...

### Estrazione dei Giocatori

In [90]:
players_list = fetch_players_data(league=135, season=2023)

x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 39
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 38
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 37
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 36
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 35
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 34
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 39
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 38
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 37
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 30
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 29
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 28
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 27
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 3
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 26
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 2
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 33
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 32
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 31
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 30
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 21
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 20
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 19
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 3
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 18
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 2
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 17
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 1
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 25
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 24
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 23
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 22
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 12
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 11
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 10
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 3
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 9
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 2
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 16
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 15
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 14
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 13
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 12
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 3
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 2
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 3
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 1
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 2
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 8
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 7
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 6
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 5
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 6
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 4
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 5
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 3
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 4
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: -6
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 3
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: -7
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 2
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: -8
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 1
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: 0
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: -1
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 8
x-ratelimit-requests-limit: 100
x-ratelimit-requests-remaining: -2
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 7

In [91]:
# numero giocatori
len(players_list)

1011

In [92]:
# Esempio player in json
print(json.dumps(players_list[1], indent=4))

{
    "player": {
        "id": 2897,
        "name": "Kim Min-Jae",
        "firstname": "Min-Jae",
        "lastname": "Kim",
        "age": 27,
        "birth": {
            "date": "1996-11-15",
            "place": "Tongyeong",
            "country": "Korea Republic"
        },
        "nationality": "Korea Republic",
        "height": "190 cm",
        "weight": "84 kg",
        "injured": false,
        "photo": "https://media.api-sports.io/football/players/2897.png"
    },
    "statistics": [
        {
            "team": {
                "id": 492,
                "name": "Napoli",
                "logo": "https://media.api-sports.io/football/teams/492.png"
            },
            "league": {
                "id": 135,
                "name": "Serie A",
                "country": "Italy",
                "logo": "https://media.api-sports.io/football/leagues/135.png",
                "flag": "https://media.api-sports.io/flags/it.svg",
                "season": 2023
            },
            "games": {
                "appearences": null,
                "lineups": null,
                "minutes": null,
                "number": null,
                "position": "Defender",
                "rating": null,
                "captain": false
            },
            "substitutes": {
                "in": null,
                "out": null,
                "bench": null
            },
            "shots": {
                "total": null,
                "on": null
            },
            "goals": {
                "total": null,
                "conceded": null,
                "assists": null,
                "saves": null
            },
            "passes": {
                "total": null,
                "key": null,
                "accuracy": null
            },
            "tackles": {
                "total": null,
                "blocks": null,
                "interceptions": null
            },
            "duels": {
                "total": null,
                "won": null
            },
            "dribbles": {
                "attempts": null,
                "success": null,
                "past": null
            },
            "fouls": {
                "drawn": null,
                "committed": null
            },
            "cards": {
                "yellow": null,
                "yellowred": null,
                "red": null
            },
            "penalty": {
                "won": null,
                "commited": null,
                "scored": null,
                "missed": null,
                "saved": null
            }
        }
    ]
}

In [93]:
# Salvataggio giocatori in file json
with open('./data/players.json', 'w', encoding='utf-8') as f:
    json.dump(players_list, f, ensure_ascii=False, indent=1)

In [98]:
# Carico i giocatori dal file json
with open('./data/players.json', "r", encoding="utf-8") as f:
    players_list = json.load(f)

In [99]:
# Creo Dataframe per esplorare i dati
players_info_list = []
for player_entry in players_list:
    player = player_entry['player']
    for stat in player_entry['statistics']:
        player_info = {
            'player_id': player['id'],
            'player_name': player['name'],
            'player_firstname': player['firstname'],
            'player_lastname': player['lastname'],
            'player_age': player['age'],
            'player_birth_date': player['birth']['date'],
            'player_birth_place': player['birth']['place'],
            'player_birth_country': player['birth']['country'],
            'player_nationality': player['nationality'],
            'player_height': player['height'],
            'player_weight': player['weight'],
            'player_injured': player['injured'],
            'player_photo': player['photo'],
            'team_id': stat['team']['id'],
            'team_name': stat['team']['name'],
            'team_logo': stat['team']['logo'],
            'league_id': stat['league']['id'],
            'league_name': stat['league']['name'],
            'league_country': stat['league']['country'],
            'league_logo': stat['league']['logo'],
            'league_flag': stat['league']['flag'],
            'season': stat['league']['season'],
            'games_appearences': stat['games']['appearences'],
            'games_lineups': stat['games']['lineups'],
            'games_minutes': stat['games']['minutes'],
            'games_number': stat['games']['number'],
            'games_position': stat['games']['position'],
            'games_rating': stat['games']['rating'],
            'games_captain': stat['games']['captain'],
            'substitutes_in': stat['substitutes']['in'],
            'substitutes_out': stat['substitutes']['out'],
            'substitutes_bench': stat['substitutes']['bench'],
            'shots_total': stat['shots']['total'],
            'shots_on': stat['shots']['on'],
            'goals_total': stat['goals']['total'],
            'goals_conceded': stat['goals']['conceded'],
            'goals_assists': stat['goals']['assists'],
            'goals_saves': stat['goals']['saves'],
            'passes_total': stat['passes']['total'],
            'passes_key': stat['passes']['key'],
            'passes_accuracy': stat['passes']['accuracy'],
            'tackles_total': stat['tackles']['total'],
            'tackles_blocks': stat['tackles']['blocks'],
            'tackles_interceptions': stat['tackles']['interceptions'],
            'duels_total': stat['duels']['total'],
            'duels_won': stat['duels']['won'],
            'dribbles_attempts': stat['dribbles']['attempts'],
            'dribbles_success': stat['dribbles']['success'],
            'dribbles_past': stat['dribbles']['past'],
            'fouls_drawn': stat['fouls']['drawn'],
            'fouls_committed': stat['fouls']['committed'],
            'cards_yellow': stat['cards']['yellow'],
            'cards_yellowred': stat['cards']['yellowred'],
            'cards_red': stat['cards']['red'],
            'penalty_won': stat['penalty']['won'],
            'penalty_commited': stat['penalty']['commited'],
            'penalty_scored': stat['penalty']['scored'],
            'penalty_missed': stat['penalty']['missed'],
            'penalty_saved': stat['penalty']['saved']
        }
        players_info_list.append(player_info)

# Convertire la lista di dizionari in un DataFrame
players_df = pd.DataFrame(players_info_list)

# Visualizzare il DataFrame
players_df

,player_id,player_name,player_firstname,player_lastname,player_age,player_birth_date,player_birth_place,player_birth_country,player_nationality,player_height,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
0,188,S. Handanoviƒç,Samir,Handanoviƒç,39.0,1984-07-14,Ljubljana,Slovenia,Slovenia,193 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
1,2897,Kim Min-Jae,Min-Jae,Kim,27.0,1996-11-15,Tongyeong,Korea Republic,Korea Republic,190 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
2,30786,S. Sturaro,Stefano,Sturaro,30.0,1993-03-09,Sanremo,Italy,Italy,181 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
3,30974,A. Cordaz,Alex,Cordaz,40.0,1983-01-01,Vittorio Veneto,Italy,Italy,188 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
4,30996,M. Rohd√©n,Marcus Christer,Rohd√©n,32.0,1991-05-11,V√§rnamo,Sweden,Sweden,182 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,127011,A. Cambiaso,Andrea,Cambiaso,24.0,2000-02-20,Genoa,Italy,Italy,182 cm,...,20.0,35.0,10.0,0.0,0.0,None,None,0.0,0.0,NaN
1089,157052,R. Calafiori,Riccardo,Calafiori,22.0,2002-05-19,Roma,Italy,Italy,188 cm,...,27.0,35.0,4.0,0.0,0.0,None,None,0.0,0.0,NaN
1090,203474,N. Zalewski,Nicola,Zalewski,22.0,2002-01-23,Tivoli,Italy,Poland,164 cm,...,27.0,14.0,2.0,1.0,0.0,None,None,0.0,0.0,NaN
1091,289761,G. Scalvini,Giorgio,Scalvini,21.0,2003-12-11,Chiari,Italy,Italy,194 cm,...,10.0,46.0,3.0,0.0,0.0,None,None,0.0,0.0,NaN
1092,339883,K. Yƒ±ldƒ±z,Kenan,Yƒ±ldƒ±z,19.0,2005-05-04,Regensburg,Germany,T√ºrkiye,185 cm,...,22.0,12.0,3.0,0.0,0.0,None,None,0.0,0.0,NaN

In [95]:
players_df.tail()

,player_id,player_name,player_firstname,player_lastname,player_age,player_birth_date,player_birth_place,player_birth_country,player_nationality,player_height,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
1088,297139,√â. Camara,√âtienne Amara,Camara,21.0,2003-03-30,Noisy-le-Grand,France,France,190 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1089,298242,F. Ciss√©,Faroukou Kayode,Ciss√©,20.0,2004-03-09,None,C√¥te d'Ivoire,Germany,None,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1090,335071,M. Berisha,Medon,Berisha,21.0,2003-10-21,M√ºnsingen,Switzerland,Albania,186 cm,...,5.0,7.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1091,348533,S. Fini,Seydou,Fini,18.0,2006-06-02,None,Italy,Italy,178 cm,...,2.0,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1092,375986,L. Kuavita,L√©andre Filipe,Kuavita,20.0,2004-05-31,None,Belgium,Belgium,None,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN

In [96]:
# Filtrare i giocatori che hanno almeno una apparizione in partita
players_with_appearances = players_df.query("games_appearences > 0")
players_with_appearances

,player_id,player_name,player_firstname,player_lastname,player_age,player_birth_date,player_birth_place,player_birth_country,player_nationality,player_height,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
15,291780,D. Boloca,Daniel,Boloca,26.0,1998-12-22,Chieri,Italy,Romania,188 cm,...,7.0,25.0,6.0,0.0,1.0,None,None,0.0,0.0,NaN
17,315026,Y. Kallon,Yayah,Kallon,23.0,2001-06-30,None,Sierra Leone,Sierra Leone,175 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
23,150,Arthur,Arthur Henrique,Ramos de Oliveira Melo,28.0,1996-08-12,Goi√¢nia,Brazil,Brazil,171 cm,...,47.0,18.0,2.0,0.0,0.0,None,None,1.0,0.0,NaN
26,319,S. Luperto,Sebastiano,Luperto,28.0,1996-09-06,Lecce,Italy,Italy,191 cm,...,18.0,25.0,4.0,0.0,0.0,None,None,0.0,0.0,NaN
32,30490,N. Sansone,Nicola,Domenico Sansone,33.0,1991-09-10,M√ºnchen,Germany,Italy,175 cm,...,12.0,16.0,4.0,0.0,0.0,None,None,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,135519,G. Isaksen,Gustav,Tang Isaksen,23.0,2001-04-19,Hjerk,Denmark,Denmark,178 cm,...,24.0,17.0,3.0,0.0,0.0,None,None,0.0,0.0,NaN
1085,158710,V. Kristiansen,Victor,Bernth Kristiansen,22.0,2002-12-16,K√∏benhavn,Denmark,Denmark,181 cm,...,7.0,29.0,4.0,0.0,0.0,None,None,0.0,0.0,NaN
1087,203474,N. Zalewski,Nicola,Zalewski,22.0,2002-01-23,Tivoli,Italy,Poland,164 cm,...,27.0,14.0,2.0,1.0,0.0,None,None,0.0,0.0,NaN
1090,335071,M. Berisha,Medon,Berisha,21.0,2003-10-21,M√ºnsingen,Switzerland,Albania,186 cm,...,5.0,7.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1091,348533,S. Fini,Seydou,Fini,18.0,2006-06-02,None,Italy,Italy,178 cm,...,2.0,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN

In [97]:
# Filtrare i giocatori il cui team_name in lowercase contiene "milan"
milan_players = players_df[players_df['team_name'].str.lower().str.contains('milan')]

# Visualizzare i giocatori filtrati
milan_players

,player_id,player_name,player_firstname,player_lastname,player_age,player_birth_date,player_birth_place,player_birth_country,player_nationality,player_height,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
28,1831,A. Rebiƒá,Ante,Rebiƒá,30.0,1993-09-21,Split,Croatia,Croatia,185 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
91,277175,A. Jungdal,Andreas Kristoffer,Jungdal,21.0,2002-02-22,Singapore,Singapore,Denmark,195 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
103,81012,D. V√°squez,Devis Estiven,V√°squez Llach,25.0,1998-05-12,Barranquilla,Colombia,Colombia,195 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
107,215976,N. Michelis,Nikolaos,Michelis,22.0,2001-03-23,Nea Smyrni,Greece,Greece,192 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
111,343571,M. Malaspina,Mattia,Malaspina,18.0,2005-07-24,None,Italy,Italy,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
112,382947,H. Cuenca,Hugo Francisco,Cuenca Mart√≠nez,18.0,2005-01-08,None,Paraguay,Paraguay,183 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
113,384419,D. Paloschi,Dorian,Paloschi,18.0,2005-11-21,None,Italy,Italy,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
114,384671,J. Longhi,Jordan,Longhi,18.0,2005-03-21,None,Italy,Italy,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
115,419617,V. Magni,Vittorio,Magni,17.0,2006-06-01,None,Italy,Italy,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
116,427335,D. Simic,Dario,Simic,NaN,None,None,Italy,Italy,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
117,427336,A. Siman,Alexandru,Siman,NaN,None,Bucharest,Romania,Romania,None,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
128,56396,Junior Messias,Junior Walter,Messias,33.0,1991-05-13,Belo Horizonte,Brazil,Brazil,174 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
163,147859,C. De Ketelaere,Charles Marc S.,De Ketelaere,23.0,2001-03-10,Brugge,Belgium,Belgium,192 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
287,22221,M. Maignan,Mike Peterson,Maignan,29.0,1995-07-03,Cayenne,French Guiana,France,191 cm,...,5.0,1.0,1.0,0.0,1.0,None,None,0.0,0.0,0.0
288,22236,Rafael Le√£o,Rafael Alexandre,da Concei√ß√£o Le√£o,25.0,1999-06-10,Almada,Portugal,Portugal,188 cm,...,52.0,26.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
300,105,F. Ballo-Tour√©,Fod√©,Ballo-Tour√©,27.0,1997-01-03,Conflans-Sainte-Honorine,France,Senegal,182 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,NaN,NaN,NaN
302,305,D. Origi,Divock,Okoth Origi,29.0,1995-04-18,Oostende,Belgium,Belgium,185 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,NaN,NaN,NaN
319,263812,L. Romero,Luka,Romero Bezzana,20.0,2004-11-18,Durango,Mexico,Argentina,165 cm,...,2.0,3.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
439,263481,Lorenzo Colombo,Lorenzo,Colombo,22.0,2002-03-08,Vimercate,Italy,Italy,186 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
646,1417,A. Saelemaekers,Alexis Jesse,Saelemaekers,25.0,1999-06-27,Berchem-Sainte-Agathe,Belgium,Belgium,180 cm,...,58.0,16.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
755,135510,E. Roback,Emil Pakebba,Joof Roback,21.0,2003-05-03,Norrk√∂ping,Sweden,Sweden,186 cm,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN
761,397733,D. Sia,Diego,Sia,18.0,2006-03-10,None,Italy,Italy,None,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
762,436260,F. Camarda,Francesco,Camarda,16.0,2008-03-10,None,Italy,Italy,184 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
763,17,C. Puli≈°iƒá,Christian Mate,Puli≈°iƒá,26.0,1998-09-18,Hershey,USA,USA,177 cm,...,45.0,19.0,2.0,0.0,0.0,None,None,0.0,0.0,NaN
764,769,A. Florenzi,Alessandro,Florenzi,33.0,1991-03-11,Roma,Italy,Italy,173 cm,...,9.0,11.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
765,1265,Y. Adli,Yacine Zinedine,Adli,24.0,2000-07-29,Vitry-sur-Seine,France,France,186 cm,...,9.0,26.0,3.0,0.0,0.0,None,None,0.0,0.0,NaN
766,1628,M. Caldara,Mattia,Caldara,30.0,1994-05-05,Bergamo,Italy,Italy,187 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
767,1696,S. Chukwueze,Samuel Chimerenka,Chukwueze,25.0,1999-05-22,Umahaia,Nigeria,Nigeria,172 cm,...,12.0,7.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
768,1828,L. Joviƒá,Luka,Joviƒá,27.0,1997-12-23,Loznica,Serbia,Serbia,181 cm,...,NaN,NaN,2.0,0.0,1.0,None,None,0.0,0.0,NaN
770,2292,R. Loftus-Cheek,Ruben Ira,Loftus-Cheek,28.0,1996-01-23,London,England,England,191 cm,...,45.0,39.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
771,2295,O. Giroud,Olivier Jonathan,Giroud,38.0,1986-09-30,Chamb√©ry,France,France,193 cm,...,24.0,31.0,1.0,0.0,1.0,None,None,4.0,1.0,NaN
772,3173,I. Bennacer,Isma√´l,Bennacer,27.0,1997-12-01,Arles,France,Algeria,175 cm,...,26.0,18.0,2.0,0.0,0.0,None,None,1.0,0.0,NaN
773,31273,T. Pobega,Tommaso,Pobega,25.0,1999-07-15,Trieste,Italy,Italy,188 cm,...,7.0,8.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
774,36902,T. Reijnders,Tijjani,Reijnders Lekatompessy,26.0,1998-07-29,Zwolle,Netherlands,Netherlands,185 cm,...,20.0,21.0,8.0,0.0,0.0,None,None,0.0,0.0,NaN
775,56473,M. Gabbia,Matteo,Gabbia,25.0,1999-10-21,Busto Arsizio,Italy,Italy,185 cm,...,8.0,27.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
776,162106,Y. Musah,Yunus Dimoara,Musah,22.0,2002-11-29,New York,USA,USA,178 cm,...,21.0,22.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
777,264472,F. Terracciano,Filippo,Terracciano,21.0,2003-02-08,None,Italy,Italy,180 cm,...,32.0,15.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
779,330437,√Ålex Jim√©nez,Alejandro,Jim√©nez S√°nchez,19.0,2005-05-08,Legan√©s,Spain,Spain,171 cm,...,1.0,2.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
780,338507,C. Nsiala-Makengo,Clinton,Nsiala-Makengo,20.0,2004-01-17,Rennes,France,France,182 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
781,345817,V. Eletu,Victor Ehuwa,Eletu,19.0,2005-04-01,Lagos,Nigeria,Nigeria,176 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
782,371910,J. ≈†imiƒá,Jan-Carlo,≈†imiƒá,19.0,2005-05-02,N√ºrtingen,Germany,Serbia,186 cm,...,NaN,2.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
783,374359,D. Bartesaghi,Davide,Bartesaghi,19.0,2005-12-29,Erba,Italy,Italy,193 cm,...,1.0,1.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
784,382945,K. Zeroli,Kevin,Zeroli,19.0,2005-01-11,Busto Arsizio,Italy,Italy,187 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
786,765,A. Mirante,Antonio,Mirante,41.0,1983-07-08,Castellamare di Stabia,Italy,Italy,193 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
788,1627,D. Calabria,Davide,Calabria,28.0,1996-12-06,Brescia,Italy,Italy,177 cm,...,19.0,25.0,4.0,1.0,1.0,None,None,0.0,0.0,NaN
789,2045,S. Kj√¶r,Simon,Thorup Kj√¶r,35.0,1989-03-26,Horsens,Denmark,Denmark,190 cm,...,2.0,9.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
790,19209,F. Tomori,Oluwafikayomi Oluwadamilola,Tomori,27.0,1997-12-19,Calgary,Canada,England,185 cm,...,9.0,26.0,7.0,1.0,0.0,None,None,0.0,0.0,NaN
792,31069,M. Sportiello,Marco,Sportiello,32.0,1992-05-10,Desio,Italy,Italy,192 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
793,47300,T. Hern√°ndez,Th√©o Bernard Fran√ßois,Hern√°ndez,27.0,1997-10-06,Marseille,France,France,184 cm,...,50.0,38.0,11.0,0.0,1.0,None,None,1.0,1.0,NaN
794,162188,P. Kalulu,Pierre Kazeye Rommel,Kalulu Kyatengwa,24.0,2000-06-05,Lyon,France,France,179 cm,...,3.0,1.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
795,163189,M. Thiaw,Malick Laye,Thiaw,23.0,2001-08-08,D√ºsseldorf,Germany,Germany,191 cm,...,7.0,31.0,5.0,0.0,1.0,None,None,0.0,0.0,NaN
798,339598,N. Raveyre,Noah Joseph Guy,Raveyre,19.0,2005-06-22,Le Puy-en-Velay,France,France,None,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
800,342995,L. Nava,Lapo Francesco Maria,Nava,20.0,2004-01-22,Milano,Italy,Italy,189 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
802,386298,L. Torriani,Lorenzo,Torriani,19.0,2005-01-31,None,Italy,Italy,None,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
804,409130,A. Bartoccioni,Andrea,Bartoccioni,20.0,2004-03-14,Milano,Italy,Italy,196 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
862,212842,M. Pellegrino,Marco,Pellegrino,22.0,2002-07-18,Buenos Aires,Argentina,Argentina,184 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,NaN
997,48389,N. Okafor,Noah Arinzechukwu,Okafor,24.0,2000-05-24,Binningen,Switzerland,Switzerland,185 cm,...,9.0,12.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
1001,297579,C. Traor√®,Chaka,Traor√®,20.0,2004-12-23,Att√©coub√©,C√¥te d'Ivoire,C√¥te d'Ivoire,175 cm,...,NaN,1.0,0.0,0.0,0.0,None,None,0.0,0.0,NaN
1054,31054,R. Kruniƒá,Rade,Kruniƒá,31.0,1993-10-07,Foƒça,Bosnia and Herzegovina,Bosnia and Herzegovina,184 cm,...,11.0,10.0,3.0,0.0,0.0,None,None,0.0,0.0,NaN
1075,162045,M. Lazetiƒá,Marko,Lazetiƒá,20.0,2004-01-22,Belgrade,Serbia,Serbia,190 cm,...,NaN,NaN,0.0,0.0,0.0,None,None,NaN,NaN,NaN

### Giocatori attualmente in rosa in un Team

In [14]:
teams_df[["team_id","team_name"]]

    team_id    team_name
0       487        Lazio
1       488     Sassuolo
2       489     AC Milan
3       490     Cagliari
4       492       Napoli
5       494      Udinese
6       495        Genoa
7       496     Juventus
8       497      AS Roma
9       499     Atalanta
10      500      Bologna
11      502   Fiorentina
12      503       Torino
13      504       Verona
14      505        Inter
15      511       Empoli
16      512    Frosinone
17      514  Salernitana
18      867        Lecce
19     1579        Monza

In [16]:
# Esempio AC Milan
team_players = call_api('players/squads', {'team': 489})
print(json.dumps(team_players, indent=4))

{
    "get": "players/squads",
    "parameters": {
        "team": "489"
    },
    "errors": [],
    "results": 1,
    "paging": {
        "current": 1,
        "total": 1
    },
    "response": [
        {
            "team": {
                "id": 489,
                "name": "AC Milan",
                "logo": "https://media.api-sports.io/football/teams/489.png"
            },
            "players": [
                {
                    "id": 22221,
                    "name": "M. Maignan",
                    "age": 28,
                    "number": 16,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/22221.png"
                },
                {
                    "id": 31069,
                    "name": "M. Sportiello",
                    "age": 31,
                    "number": 57,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/31069.png"
                },
                {
                    "id": 342995,
                    "name": "L. Nava",
                    "age": 19,
                    "number": 69,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/342995.png"
                },
                {
                    "id": 409130,
                    "name": "Andrea  Bartoccioni",
                    "age": 19,
                    "number": 78,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/409130.png"
                },
                {
                    "id": 765,
                    "name": "A. Mirante",
                    "age": 40,
                    "number": 83,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/765.png"
                },
                {
                    "id": 339598,
                    "name": "N. Raveyre",
                    "age": 18,
                    "number": 92,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/339598.png"
                },
                {
                    "id": 386298,
                    "name": "L. Torriani",
                    "age": 19,
                    "number": 96,
                    "position": "Goalkeeper",
                    "photo": "https://media.api-sports.io/football/players/386298.png"
                },
                {
                    "id": 1627,
                    "name": "D. Calabria",
                    "age": 27,
                    "number": 2,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/1627.png"
                },
                {
                    "id": 47300,
                    "name": "T. Hern\u00e1ndez",
                    "age": 26,
                    "number": 19,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/47300.png"
                },
                {
                    "id": 162188,
                    "name": "P. Kalulu",
                    "age": 23,
                    "number": 20,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/162188.png"
                },
                {
                    "id": 19209,
                    "name": "F. Tomori",
                    "age": 26,
                    "number": 23,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/19209.png"
                },
                {
                    "id": 2045,
                    "name": "S. Kj\u00e6r",
                    "age": 34,
                    "number": 24,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/2045.png"
                },
                {
                    "id": 163189,
                    "name": "M. Thiaw",
                    "age": 22,
                    "number": 28,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/163189.png"
                },
                {
                    "id": 1628,
                    "name": "M. Caldara",
                    "age": 29,
                    "number": 30,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/1628.png"
                },
                {
                    "id": 769,
                    "name": "A. Florenzi",
                    "age": 32,
                    "number": 42,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/769.png"
                },
                {
                    "id": 56473,
                    "name": "M. Gabbia",
                    "age": 24,
                    "number": 46,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/56473.png"
                },
                {
                    "id": 330437,
                    "name": "\u00c1lex Jim\u00e9nez",
                    "age": 18,
                    "number": 74,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/330437.png"
                },
                {
                    "id": 371910,
                    "name": "J. \u0160imi\u0107",
                    "age": 18,
                    "number": 82,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/371910.png"
                },
                {
                    "id": 338507,
                    "name": "C. Nsiala-Makengo",
                    "age": 19,
                    "number": 84,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/338507.png"
                },
                {
                    "id": 374359,
                    "name": "D. Bartesaghi",
                    "age": 17,
                    "number": 95,
                    "position": "Defender",
                    "photo": "https://media.api-sports.io/football/players/374359.png"
                },
                {
                    "id": 3173,
                    "name": "I. Bennacer",
                    "age": 26,
                    "number": 4,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/3173.png"
                },
                {
                    "id": 1265,
                    "name": "Y. Adli",
                    "age": 23,
                    "number": 7,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/1265.png"
                },
                {
                    "id": 2292,
                    "name": "R. Loftus-Cheek",
                    "age": 27,
                    "number": 8,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/2292.png"
                },
                {
                    "id": 17,
                    "name": "C. Puli\u0161i\u0107",
                    "age": 25,
                    "number": 11,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/17.png"
                },
                {
                    "id": 36902,
                    "name": "T. Reijnders",
                    "age": 25,
                    "number": 14,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/36902.png"
                },
                {
                    "id": 31273,
                    "name": "T. Pobega",
                    "age": 24,
                    "number": 32,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/31273.png"
                },
                {
                    "id": 264472,
                    "name": "F. Terracciano",
                    "age": 20,
                    "number": 38,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/264472.png"
                },
                {
                    "id": 162106,
                    "name": "Y. Musah",
                    "age": 21,
                    "number": 80,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/162106.png"
                },
                {
                    "id": 345817,
                    "name": "Victor Ehuwa Eletu",
                    "age": 18,
                    "number": 81,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/345817.png"
                },
                {
                    "id": 382945,
                    "name": "Kevin Zeroli",
                    "age": 18,
                    "number": 85,
                    "position": "Midfielder",
                    "photo": "https://media.api-sports.io/football/players/382945.png"
                },
                {
                    "id": 2295,
                    "name": "O. Giroud",
                    "age": 37,
                    "number": 9,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/2295.png"
                },
                {
                    "id": 22236,
                    "name": "Rafael Le\u00e3o",
                    "age": 24,
                    "number": 10,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/22236.png"
                },
                {
                    "id": 1828,
                    "name": "L. Jovi\u0107",
                    "age": 26,
                    "number": 15,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/1828.png"
                },
                {
                    "id": 48389,
                    "name": "N. Okafor",
                    "age": 23,
                    "number": 17,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/48389.png"
                },
                {
                    "id": 1696,
                    "name": "S. Chukwueze",
                    "age": 24,
                    "number": 21,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/1696.png"
                },
                {
                    "id": 436260,
                    "name": "F. Camarda",
                    "age": 16,
                    "number": 73,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/436260.png"
                },
                {
                    "id": 397733,
                    "name": "D. Sia",
                    "age": 18,
                    "number": 97,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/397733.png"
                },
                {
                    "id": 135510,
                    "name": "E. Roback",
                    "age": 20,
                    "number": null,
                    "position": "Attacker",
                    "photo": "https://media.api-sports.io/football/players/135510.png"
                }
            ]
        }
    ]
}